@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
    --l-spacing: -1px;
    --w-spacing: 2px;
}

a {
    color: #ddd;
    text-decoration: none;
}

img {
    vertical-align: bottom;
}

.b {
    background-color: rgba(0, 0, 0, .5);
}

.fcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

* {
    letter-spacing: var(--l-spacing);
    word-spacing: var(--w-spacing);

    --text-align: center;
    transition: all 200ms;
}

html {
    scroll-behavior: smooth !important;
}

body {
    scroll-behavior: smooth;
    background-color: #202020;
    color: #ddd;
    padding: 0;
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    min-height: 100vh;
    width: 80vw;
    margin: 0 auto;
}

body div {
    margin-left: 32px;
}

body div>div {
    margin: 0 auto;
}